---
import { getCollection, getEntries } from 'astro:content';
import { Offcourse } from "@/offcourse/"
import  { BaseHead, OGType  }from "@/components/BaseHead";
import Layout from "@/layouts/Page.astro"
import { SeriesHero } from "@/components/SeriesHero"
import { PostListing } from "@/components/Postlisting"

export async function getStaticPaths() {
  const tagEntries = await getCollection('Tags');
  return tagEntries.map(entry => ({
    params: { slug: entry.id }, 
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { data } = entry;
const { title, summary, articles: articlesRef, courses: coursesRef} = entry.data;
const posts = await getEntries(articlesRef)
const courses = coursesRef && await getEntries(coursesRef)
---
<Layout {title}>
  <BaseHead 
    slot="og:data" 
    url={Astro.url}
    type={OGType.WEBSITE} 
    description={summary}
    {...data}

  />
  <SeriesHero slot="hero" title={title} summary={summary}/>
  <div transition:name="content" class="container px-8 gap-8 py-12 lg:py-20 mx-auto">
    { posts.map(({slug, data}) => <PostListing {...data} order={1} {slug}/>)}
    { courses && <Offcourse data={courses.map(({data}) => data)} client:load/>}
  </div>
</Layout>
