---
import Layout from "../layouts/Article.astro"
const title = "YEEHAA";

import { getCollection } from 'astro:content';


const inspirational = ["Something", "Wicked"];

const posts = (await getCollection('Posts'))
  .filter(({data}) => !data.draft)
  .sort(
).map(({data, ...a}, index) => { return { data, order: ('00' + index).slice(-3), ...a}})
;

---

<Layout {title} {inspirational} >
  { posts.map(p => {
  return <div>
  <a href={`/posts/${p.slug}`}><h1><span class="text-secondary">{p.order}</span> {p.data.title}</h1></a>
  <p>{p.data.summary}<p>
  </div>
  })}
</Layout>
