---
import { Offcourse } from "@/offcourse/"
import { getEntry, getEntries } from 'astro:content';
import { getImage } from "astro:assets"; import Layout from "@/layouts/Landing.astro"
import  Wave from "@/components/Wave.astro";
import  Bubble from "@/components/Bubble.astro";
import { PostListing } from "../components/Postlisting"
import  { 
  BaseHead, 
  OGType, 
  HeroSection,
  PayOffSection,
  ChallengesSection,
  ConceptsSection,
  ApproachSection,
  CaseStudySection,
  ServicesSection,
  ProductsSection,
  AboutSection,
  FAQSection,
  CTASection,
  CallToAction, 
  PageSection,
  PostList
} from "@/components";

interface Props  {
  logoLink: "/"
}

const { logoLink = "/" } = Astro.props;
const entry = await getEntry("LandingPage", "index")
const { data } = entry
const { 
  sections, 
  profileImageURL,
  articles,
  courses: c
} = data;

const courses = await getEntries(c)
const posts = await getEntries(articles)
const profileImage = await getImage({src: profileImageURL, format: 'webp'});

const { 
  about, 
  faq,
  main_cta 
} = sections;

---
<Layout {logoLink}  {...data}>
  <BaseHead slot="og:data" url={Astro.url} type={OGType.WEBSITE} {...data} />
  <header class="h-vsh pt-48 md:pt-60 bg-primary">
    <HeroSection {...sections.hero} client:load/>
    <div class="bg-primary dark:bg-primary">
      <Wave anchor="bottom" class="fill-white dark:fill-black"/>
    </div>
    <div class="bg-white dark:bg-black">
    <PayOffSection items={sections.approach.items}/>
    </div>
  </header>
  <ChallengesSection {...sections.challenges} />
  <ConceptsSection {...sections.concepts} />
  <ApproachSection {...sections.approach} />
  <div class="bg-white dark:bg-black">
    <Bubble anchor="bottom" class="bg-primary fill-white dark:fill-black"/>
  </div>
  <CaseStudySection imageSrc={profileImage.src} {...sections.case_study} client:load/>
  <div class="bg-primary">
    <Wave anchor="bottom" class="-bottom-1 fill-white dark:fill-black"/>
  </div>
  <ServicesSection {...sections.services} />
  <ProductsSection {...sections.products} />
  <div class="bg-white dark:bg-black">
    <Wave anchor="bottom" class="fill-offwhite dark:fill-offblack"/>
  </div>
  <PageSection.Root className="bg-offwhite dark:bg-offblack"]}>
    <div class="container px-8 gap-8 py-12 lg:py-20 mx-auto">
      <PageSection.Header>Recent Content</PageSection.Header>
      <PostList posts={posts} />
      <Offcourse data={courses.map(({data}) => data)} client:load/>
    </div>
  </PageSection.Root>
  <div class="bg-offwhite dark:bg-offblack">
    <Bubble anchor="bottom" class="bg-primary fill-offwhite dark:fill-offblack"/>
  </div>
  <AboutSection imageSrc={profileImage.src} {...sections.about} />
  <FAQSection {...sections.faq} />
  <div class="bg-primary">
    <Wave anchor="bottom" class="-bottom-1 fill-white dark:fill-black"/>
  </div>
  <CTASection {...main_cta}/>
</Layout>
