---
import { Offcourse } from "@/offcourse/"
import { getEntry, getEntries } from 'astro:content';
import { getImage } from "astro:assets";
import Layout from "@/layouts/Landing.astro"
import  Wave from "@/components/Wave.astro";
import  Bubble from "@/components/Bubble.astro";
import { PostListing } from "../components/Postlisting"
import  { 
  BaseHead, 
  OGType, 
  FeatureCard, 
  IconCard, 
  Step, 
  CallToAction, 
  PageSection,
  PingItem,
  PageSection
} from "@/components";

interface Props  {
  logoLink: "/"
}

const { logoLink = "/" } = Astro.props;
const entry = await getEntry("LandingPage", "index")
const { data } = entry
const { 
  sections, 
  profileImageURL,
  articles,
  courses: c
} = data;

const courses = await getEntries(c)
const posts = await getEntries(articles)
const profileImage = await getImage({src: profileImageURL, format: 'webp'});

const { 
  hero, 
  challenges, 
  concepts, 
  approach, 
  about, 
  services, 
  products, 
  case_study, 
  main_cta 
} = sections;

---

<Layout {logoLink}  {...data}>
  <BaseHead slot="og:data" url={Astro.url} type={OGType.WEBSITE} {...data} />
  <header class="h-vsh pt-36 pt-60 items-center justify-center bg-primary">
    <div class="text-center text-black">
      <h1 class="text-6xl font-extrabold mb-6 px-4">{hero.title}</h1>
      <p class="text-xl md:text-2xl mb-10 max-w-2xl mx-auto">{hero.subtitle}</p>
      <CallToAction {...hero.cta} client:load />
    </div>
    <div class="bg-primary dark:bg-primary">
      <Wave anchor="bottom" class="fill-white dark:fill-black"/>
    </div>
  <section class:list={["pt-16 mb-16 bg-white dark:bg-black"]}>
    <PageSection.Container className="grid items-center justify-center text-center">
      <div class="grid grid-cols-1 gap-8 md:grid-cols-3 md:flex md:justify-between">
        {approach.items.map((item, index) => <Step step={index} {...item} />)}
      </div>
    </PageSection.Container>
  </section>
  </header>
  <PageSection.Root>
    <PageSection.Container className="grid items-center justify-center gap-8 lg:text-left lg:grid-cols-2">
      <div>
        <PageSection.Header>{challenges.title}</PageSection.Header>
        <PageSection.Description>{challenges.description}</PageSection.Description>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        {challenges.items.map((item) => <IconCard className="bg-offwhite dark:bg-offblack border-none" {...item} />)}
      </div>
    </PageSection.Container>
  </PageSection.Root>
  <PageSection.Root className="overflow-x-clip">
    <PageSection.Container className="grid items-center justify-center gap-4 text-center lg:gap-16">
      <PageSection.Header>{concepts.title}</PageSection.Header>
      <div class="grid w-full grid-cols-1 gap-6 md:grid-cols-2 lg:gap-24">
        {concepts.items.map((item) => <PingItem {...item} />) }
      </div>
    </PageSection.Container>
  </PageSection.Root>
  <PageSection.Root>
    <PageSection.Container className="grid items-center justify-center lg:text-left gap-x-16 lg:grid-cols-2">
      <div class="py-8 lg:order-last">
        <PageSection.Header>{approach.title}</PageSection.Header>
        <PageSection.SubHeader >{approach.subtitle}</PageSection.SubHeader>
        <PageSection.Description>{approach.description}</PageSection.Description>
      </div>
      <div class="grid grid-cols-1 gap-4">
        {approach.items.map((item) => <IconCard  {...item} />)}
      </div>
    </PageSection.Container>
  </PageSection.Root>
  <div class="bg-white dark:bg-black">
    <Bubble anchor="bottom" class="bg-primary fill-white dark:fill-black"/>
  </div>
  <PageSection.Root className="bg-primary text-black">
    <PageSection.Container className="flex flex-col lg:flex-row gap-8 items-center">
      <div class="w-full lg:w-1/2">
        <img src={profileImage.src} alt={about.title}/>
      </div>
      <div class="flex flex-col mx-8 gap-8">
        <PageSection.Header>{case_study.title}</PageSection.Header>
        <div class="max-w-3xl mx-auto">
          <p class="mb-6">{case_study.description}</p>
          <ul class="list-disc list-inside mb-6">
            {case_study.key_points.map((point) => <li>{point}</li>)}
          </ul>
          <CallToAction {...case_study.cta} client:load/>
        </div>
      </div>
    </PageSection.Container>
  </PageSection.Root>
  <div class="bg-primary dark:bg-primary">
    <Wave anchor="bottom" class="fill-white dark:fill-black"/>
  </div>
  <PageSection.Root>
    <PageSection.Container className="flex flex-col justify-center items-center gap-y-12 md:text-center">
      <div>
        <PageSection.Header>{services.title}</PageSection.Header>
        <PageSection.SubHeader >{services.subtitle}</PageSection.SubHeader>
        <PageSection.Description >{services.description}</PageSection.Description>
      </div>
      <div class="grid grid-cols-1 xl:grid-cols-3 gap-8 @container w-full">
        { services.items.map(product => <FeatureCard {...product}/>)}
      </div>
      <div class="text-center mt-12">
        <CallToAction {...services.cta} client:load/>
      </div>
    </PageSection.Container>
  </PageSection.Root>
  <PageSection.Root>
    <PageSection.Container 
      className="flex flex-col justify-center items-center gap-y-12 lg:text-center">
      <div>
        <PageSection.Header>{products.title}</PageSection.Header>
        <PageSection.SubHeader >{products.subtitle}</PageSection.SubHeader>
        <PageSection.Description >{products.description}</PageSection.Description>
      </div>
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 w-full">
        { products.items.map(product => <FeatureCard className="border-none bg-offwhite dark:bg-offblack" iconSize="LARGE" {...product}/>)}
      </div>
    </PageSection.Container>
  </PageSection.Root>
  <div class="bg-white dark:bg-black">
    <Bubble anchor="bottom" class="bg-primary fill-white dark:fill-black"/>
  </div>
  <PageSection.Root className="bg-primary text-black">
    <PageSection.Container className="flex flex-col lg:flex-row gap-8 items-center">
      <div class="w-full lg:w-1/2">
        <img src={profileImage.src} alt={about.title}/>
      </div>
      <div class="flex flex-col mx-8 gap-8">
        <PageSection.Header>{about.title}</PageSection.Header>
        <div class="max-w-3xl mx-auto">
          <p class="mb-6">{about.description}</p>
          <ul class="list-disc list-inside mb-6">
            {about.key_points.map((point) => <li>{point}</li>)}
          </ul>
        </div>
      </div>
    </PageSection.Container>
  </PageSection.Root>
  <div class="bg-primary">
    <Wave anchor="bottom" class="-bottom-1 fill-offwhite dark:fill-offblack"/>
  </div>
  <PageSection.Root className="bg-offwhite dark:bg-offblack"]}>
    <div class="container px-8 gap-8 py-12 lg:py-20 mx-auto">
      <PageSection.Header>Recent Content</PageSection.Header>
      { posts.map(({slug, data}) => <PostListing {...data} order={1} {slug}/>)}
      <Offcourse data={courses.map(({data}) => data)} client:load/>
    </div>
  </PageSection.Root>
  <div class="bg-offwhite dark:bg-offblack">
    <Wave anchor="bottom" class="fill-white dark:fill-black"/>
  </div>
  <section class="py-16">
    <div class="container mx-auto px-8 md:px-16">
      <div class="text-center">
        <PageSection.Header className="mb-4">{main_cta.title}</PageSection.Header>
        <PageSection.SubHeader >{main_cta.subtitle}</PageSection.SubHeader>
        <CallToAction {...main_cta.cta} client:load/>
    </div>
  </section>
</Layout>
