---
import { getEntry } from 'astro:content';
import { getImage } from "astro:assets";
import Layout from "@/layouts/Landing.astro"
import  { BaseHead, OGType  }from "@/components/BaseHead";
import { ProductCard } from "@/components/ProductCard";
import  Wave from "@/components/Wave.astro";
import  Bubble from "@/components/Bubble.astro";
import  { IconCard }from "@/components/IconCard";
import  { Step }from "@/components/Step";
import { CallToAction } from "@/components/CTA";
import { PingItem } from "@/components/PingItem";

interface Props  {
  logoLink: "/"
}

const { logoLink = "/" } = Astro.props;
const entry = await getEntry("LandingPage", "index")
const { data } = entry
const { sections, profileImageURL} = data;
const { hero, challenges, concepts, approach, about, services, products, case_study, main_cta } = sections;
const profileImage = await getImage({src: profileImageURL, format: 'webp'});

---
<Layout {logoLink}  {...data}>
  <BaseHead slot="og:data" url={Astro.url} type={OGType.WEBSITE} {...data} />
  <header class="relative h-4/6 pt-36 xl:pt-48 flex items-center justify-center bg-cover bg-center">
    <div class="absolute inset-0 bg-primary opacity-100"></div>
    <div class="relative z-10 text-center text-black px-4">
      <h1 class="text-6xl font-extrabold mb-6">{hero.title}</h1>
      <p class="text-2xl mb-10 max-w-2xl mx-auto">{hero.subtitle}</p>
      <CallToAction {...hero.cta} client:load />
    </div>
  </header>
  <Wave class="bg-primary"/>
  <section class="py-16">
    <div class="container grid items-center justify-center gap-4 px-8 md:px-16 text-center lg:gap-10">
      <div class="grid grid-cols-1 gap-8 lg:gap-16 md:grid-cols-3 md:flex md:justify-between">
        {approach.items.map((item, index) => <Step step={index} {...item} />)}
      </div>
    </div>
  </section>
  <section class="py-16">
    <div class="container px-8 md:px-16 grid 
      items-center justify-center gap-8 lg:text-left lg:grid-cols-2">
      <div class="space-y-4">
        <h2 class={`text-3xl font-bold tracking-tighter sm:text-3xl md:text-4xl`}>
          {challenges.title}
        </h2>
        <p class="text-muted-foreground 
          md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed">
          {challenges.description}
        </p>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        {challenges.items.map((item) => <IconCard {...item} />)}
      </div>
    </div>
  </section>
  <section class="overflow-x-clip py-16">
    <div class="container grid items-center justify-center gap-4 px-4 text-center md:px-6 lg:gap-16">
      <div class="space-y-3">
        <h2 class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl">
          {concepts.title}
        </h2>
      </div>
      <div class="grid w-full grid-cols-1 gap-6 md:grid-cols-2 lg:gap-24">
        {concepts.items.map((item) => <PingItem {...item} />) }
      </div>
  </section>
  <section class="py-16">
    <div class="container mx-auto px-8 md:px-16">
      <div class="space-y-4">
        <h2 class="text-3xl font-bold tracking-tighter sm:text-3xl md:text-4xl">
          {approach.title}
        </h2>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        {approach.items.map((item) => <IconCard {...item} />)}
      </div>
    </div>
  </section >
  <section class="py-16">
    <div class="container mx-auto px-8 md:px-16 flex flex-col lg:flex-row gap-8">
      <div class="w-full lg:w-1/2">
        <img src={profileImage.src} alt={about.title}/>
      </div>
      <div class="flex flex-col mx-8 gap-8 text-black dark:text-white">
        <h2 class="text-xl font-bold tracking-tighter sm:text-2xl md:text-3xl">
          {about.title}
        </h2>
        <div class="max-w-3xl mx-auto">
          <p class="mb-6">{about.description}</p>
          <ul class="list-disc list-inside mb-6">
            {about.key_points.map((point) => <li>{point}</li>)}
          </ul>
        </div>
      </div>
    </div>
  </section>
  <Bubble anchor="bottom" class="bg-primary"/>
  <section class="py-16 bg-primary text-black">
    <div class="container mx-auto px-8 md:px-16">
      <h2 class="text-3xl font-bold text-center mb-2">{services.title}</h2>
      <div class={`grid grid-cols-1 md:grid-cols-3 gap-4`}>
        {services.items.map((item) => <IconCard {...item} />)}
      </div>
    </div>
  </section>
  <section class="py-16 bg-primary text-black">
    <div class="container mx-auto px-8 md:px-16">
      <h2 class="text-3xl font-bold text-center mb-2">{products.title}</h2>
      <p class="text-xl text-center text-gray-600 mb-8">{products.subtitle}</p>
      <p class="text-center mb-12 max-w-2xl mx-auto">{products.description}</p>
      <div class="grid grid-col-1 w-full gap-y-8">
        { products.items.map(product => <ProductCard {...product}/>)}
      </div>
      <div class="text-center mt-12">
        <CallToAction {...products.cta} client:load/>
      </div>
    </div>
  </section>
  <section class="py-16 bg-primary text-black">
    <div class="container mx-auto px-8 md:px-16">
      <div class="text-center">
        <h2 class="text-3xl font-bold mb-4">{case_study.title}</h2>
        <p class="text-xl mb-8">{case_study.subtitle}</p>
      <div class="max-w-3xl mx-auto">
        <p class="text-lg mb-6">{case_study.description}</p>
        <ul class="list-disc list-inside mb-6">
          {case_study.key_points.map((result)=> <li>{result}</li>)}
        </ul>
        <CallToAction {...case_study.cta} client:load/>
      </div>
      </div>
    </div>
  </section>
  <Wave class="bg-primary"/>
  <section class="py-16">
    <div class="container mx-auto px-8 md:px-16">
      <div class="text-center">
        <h2 class="text-3xl font-bold mb-4">{main_cta.title}</h2>
        <p class="text-xl mb-8">{main_cta.subtitle}</p>
      <CallToAction {...main_cta.cta} client:load/>
    </div>
  </section>
</Layout>
