---
import Layout from "@/layouts/Landing.astro"
import  { BaseHead, OGType  }from "@/components/BaseHead";
import  { HeroSection}from "@/components/HeroSection";
import  { ApproachPreview}from "@/components/ApproachPreview";
import  Wave from "@/components/Wave.astro";
import  { Section }from "@/components/PageSection";
import  { NarrowSection }from "@/components/NarrowSection";
import  { IconCard }from "@/components/IconCard";
import { getEntry } from 'astro:content';
import { Button } from "@/components/ui/button";
import { CallToAction } from "@/components/CTA";
import { PingItem } from "@/components/PingItem";
import { Image } from "astro:assets";
interface Props  {
  logoLink: "/"
}

const { logoLink = "/" } = Astro.props;
const entry = await getEntry("LandingPage", "index")
const { data } = entry
const { sections, profileImageURL} = data;
const { hero, challenges,concepts, approach, about, services, case_study, main_cta } = sections;
---
<Layout {logoLink}  {...data}>
  <BaseHead slot="og:data" url={Astro.url} type={OGType.WEBSITE} {...data} />
  <HeroSection {...hero} client:load/>
  <Wave class="bg-primary"/>
  <ApproachPreview items={approach.items} />
  <NarrowSection className="py-12 md:py-24 lg:py-32">
    <div class="grid items-center justify-center gap-8 px-4 md:px-6 lg:grid-cols-2 lg:text-left">
      <div class="space-y-4">
        <div class="space-y-2">
          <h2 class="text-2xl font-bold tracking-tighter sm:text-3xl md:text-4xl">
            {challenges.title}
          </h2>
          <p class="text-muted-foreground 
            md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed">
            {challenges.description}
          </p>
        </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        {challenges.items.map((item) => (
        <IconCard {...item} />
        ))}
      </div>
    </div>
  </NarrowSection>
  <section class="overflow-x-clip py-12 md:py-24 lg:py-32 xl:py-48">
    <div class="container grid items-center justify-center gap-4 px-4 text-center md:px-6 lg:gap-16">
      <div class="space-y-3">
        <h2 class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl">
          {concepts.title}
        </h2>
      </div>
      <div class="grid w-full grid-cols-1 gap-6 md:grid-cols-2 lg:gap-24">
        {concepts.items.map((item) => <PingItem {...item} />) }
      </div>
  </section>
  <Section title={approach.title} subtitle={approach.subtitle} 
    className="py-12 md:py-24 lg:py-32">
    <NarrowSection>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      {approach.items.map((item) => (
      <IconCard {...item} />
      ))}
    </div>
    </NarrowSection>
  </Section>
  <NarrowSection className="w-full my-16 flex flex-col lg:flex-row gap-4 lg:gap-8 items-center justify-between">
    <div class="w-full lg:w-1/2">
      <Image src={profileImageURL} alt={about.title} />
    </div>
    <div class="flex flex-col mx-8 gap-8 text-black dark:text-white">
      <h2 class="text-xl font-bold tracking-tighter sm:text-2xl md:text-3xl">
        {about.title}
      </h2>
      <div class="max-w-3xl mx-auto">
        <p class="mb-6">{about.description}</p>
        <ul class="list-disc list-inside mb-6">
          {about.key_points.map((point)=> <li>{point}</li>)}
        </ul>
      </div>
    </div>
  </NarrowSection>
  <NarrowSection className="flex flex-col gap-y-8 py-16">
      <h2 class="text-xl font-bold tracking-tighter sm:text-2xl md:text-3xl">
        {about.title}
      </h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">

      {services.items.map((item) => (
      <IconCard {...item} />
      ))}
    </div>
  </NarrowSection>
  <Section title={case_study.title} subtitle={case_study.subtitle} 
    className="text-center bg-primary text-black">
  <div class="max-w-3xl mx-auto">
    <p class="text-lg mb-6">{case_study.description}</p>
      <ul class="list-disc list-inside mb-6">
        {case_study.key_results.map((result)=> <li>{result}</li>)}
      </ul>
    <Button variant="secondary" asChild>
      <a href={case_study.cta.action}>{case_study.cta.text}</a>
    </Button>
  </div>
  </Section>
  <Wave class="bg-primary"/>
  <Section title={main_cta.title} subtitle={main_cta.subtitle}>
    <div class="text-center">
      <CallToAction {...main_cta.cta} client:load/>
    </div>
  </Section>
</Layout>
