---
import { Offcourse } from "@/offcourse/"
import { Image } from 'astro:assets';
import Layout from "./Base.astro"
import { ArticleHeading } from "@/components/ArticleHeading";
import  { BaseHead, OGType  }from "@/components/BaseHead";
const { 
  course,
  curator,
  title, 
  order, 
  series, 
  slug, 
  excerpt,
  author, 
  publishedAt, 
  imageURL,
  updatedAt, 
  tags,
  logoLink = "/"
} = Astro.props;

const { url } = Astro;
const type = OGType.ARTICLE;
---

<Layout {logoLink} {title} {slug} {course}>
  <BaseHead slot="og:data" 
    {url} {type} {title} {excerpt} {author} {publishedAt} {updatedAt} {tags} />
  <Image class="w-full" slot="image" src={imageURL} alt={title} loading="eager"/>
  <article class="container flex flex-col lg:flex-row px-5 gap-5 lg:gap-10 xl:gap-12 py-12 lg:py-20 mx-auto">
    <div>
      <ArticleHeading href={"/"} {order} {series} {title}/>
      <div class="prose prose-base md:prose-lg lg:prose-xl
        prose-lead:font-serif prose-lead:text-black dark:prose-lead:text-white
        prose-lead:first-letter:text-3xl
        prose-lead:md:first-letter:text-4xl
        prose-lead:lg:first-letter:text-5xl
        prose-lead:prose-lg md:prose-lead:prose-xl lg:prose-lead:prose-2xl
        dark:prose-invert
        prose-h1:font-serif hover:prose-h1:font-sans
        prose-h2:font-serif hover:prose-h2:font-sans
        md:prose-h1:text-6xl prose-h1:text-4xl
        md:prose-h2:text-3xl prose-h2:text-xl
        prose-h1:hidden
        prose-strong:font-serif
        prose-blockquote:font-serif prose-blockquote:font-normal prose-blockquote:not-italic
        prose-blockquote:border-secondary
        prose-a:no-underline prose-a:text-secondary-dark hover:prose-a:text-secondary-light
        " transition:name="content" >
        <slot/>
      </div>
    </div>
    { course && <div>
      <Offcourse data={{...course.data, curator}} client:load/>
      </div>}
  </article>
</Layout>
