---
import { Offcourse } from "@/offcourse/"
import { BaseHead, OGType} from "@/components/BaseHead";
import Layout from "@/layouts/Page.astro"
import { getEntry, getCollection } from "astro:content";
const courses = await getCollection('Courses');
const series = await getEntry("Series", "ecosystem-architecture");
const description = series.data.summary;

const title = "YEEHAA";
---
<Layout {title}>
  <BaseHead 
    slot="og:data" 
    type={OGType.WEBSITE} 
    {title} 
    {description} 
    url={Astro.url} />
  <div class="px-5 sm:px-8 gap-8 py-12 py-20 lg:py-20 mx-auto">
    <Offcourse data={courses.map(({data}) => data)} client:load/>
  </div>
</Layout>
